<md-card>
    <md-card-content class="open-dialog">
        <md-card-title>Terms and Conditions</md-card-title>
        <md-card-subtitle class="customer">Trading</md-card-subtitle>
        <p>
            By requesting and sending through a work/purchase order the property manager is agreeing to the following terms and conditions:
        </p>
        <ul>
            <li>
                That the person signing the work order/purchase order has the authority to authorise the work;
            </li>
            <li>
                That the owner or tenant has the funds available for full payment on completion of the work according to the trading terms; and
            </li>
            <li>
                That the full payment will be made in line with our.
            </li>
        </ul>
    </md-card-content>
</md-card>