<div>
  <md-toolbar color="primary">
    <span>Connell Carpentry</span>
  </md-toolbar>


  <div class="container container-testimonial"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div id="testimonial" fxFlex="75%">
      <md-card>
        <md-card-content>
          <md-card-title>Management Services</md-card-title>        
          <p>
            <md-list>These services include:

            </md-list>
          </p>

        </md-card-content>
        <md-card-actions>
          <a md-raised-button showcase-btn routerLink="/welcome" color="primary" title="Service Areas"> Back  <i class="material-icons">arrow_back</i></a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <hr>

  <md-toolbar color="primary" class="footer">
    <span class="text-center">Connell Carpentry &copy; 2017</span>
    <span class="text-center"><ccapp-termpage></ccapp-termpage></span>
  </md-toolbar>
</div>