<div>
  <md-toolbar color="primary">
    <span>Connell Carpentry</span>
  </md-toolbar>


  <div class="container container-testimonial"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div id="testimonial" fxFlex="75%">
      <md-card>
        <md-card-content>
          <md-card-title>Areas of Service</md-card-title>        
          <p>
            If you require carpentry work; Connell Carpentry will install, repair or maintain all types of framing and trim, Form work for concrete, framing (wood and metal studs, trim, windows, doors, wardrobes, signage, roofing, floor covering, insulation, drywall, all types of wall coverings, gutters, soffit, facia, acoustic ceilings, welding, pile driving etc. The list goes on… So cross it off your To-Do-List. Connell Carpentry are relied on by thousands of customers from all of Sydney regions.<br><br>
            We take care of what needs to be done, so that each item on your "to do" list is checked. After we complete the Carpentry work, then he can move on to other repairs, like tile repair, fixing that tap, repairs, and more. Call your today!
          </p>          
        </md-card-content>
        <md-card-actions>
          <a md-raised-button showcase-btn routerLink="/welcome" color="primary" title="Service Areas"> Back  <i class="material-icons">arrow_back</i></a>
        </md-card-actions>
      </md-card>
    </div>
  </div>

  <hr>
  <md-toolbar color="primary" class="footer">
    <span class="text-center">Connell Carpentry &copy; 2017</span>
    <span class="text-center"><ccapp-termpage></ccapp-termpage></span>
  </md-toolbar>
</div>