<div>
  <md-toolbar color="primary">
    <span>Connell Carpentry</span>
  </md-toolbar>


  <div class="container container-testimonial"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div id="testimonial" fxFlex="75%">
      <md-card>
        <md-card-content>
          <md-card-title>Maintenance - Our full range of building solutions include</md-card-title>
          <p>
            <md-list>
              <md-list-item> Carpentry maintenance and general repairs (painting, fencing, tiling, plastering and flooring) </md-list-item>
              <md-list-item> Indoor repairs and installation (windows, doors, built in wardrobes) </md-list-item>
              <md-list-item> Bathroom repairs and installations (shower screens, anti slip treatments) </md-list-item>
              <md-list-item> Outdoor repairs and installation (roofs, gutters, decks, pergolas, screens, clothes lines) </md-list-item>
              <md-list-item> Concrete rendering and patchwork </md-list-item>
              <md-list-item> Window glazing </md-list-item>
              <md-list-item> Signage </md-list-item>
              <md-list-item> Traffic control systems, bollards, speed humps </md-list-item>              
            </md-list>
            <md-card-title>Bookings: </md-card-title>
            Contact us for an obligation free quote and for all your building needs:<br><br>
            M – 0411 773 926<br>
            E – neillconnell7@gmail.com<br>
            ABN 536 1 4670 129
          </p>          
        </md-card-content>
        <md-card-actions>
          <a md-raised-button showcase-btn routerLink="/welcome" color="primary" title="Service Areas"> Back  <i class="material-icons">arrow_back</i></a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <hr>

  <md-toolbar color="primary" class="footer">
    <span class="text-center">Connell Carpentry &copy; 2017</span>
    <span class="text-center"><ccapp-termpage></ccapp-termpage></span>
  </md-toolbar>
</div>