<div>
  <md-toolbar color="primary">
    <span>Connell Carpentry</span>
  </md-toolbar>


  <div class="container container-testimonial"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div id="testimonial" fxFlex="75%">
      <md-card>
        <md-card-content>
          <md-card-title>Residential Services</md-card-title>        
          <p>
            <md-list>These services include
              <md-list-item> General carpentry </md-list-item>
              <md-list-item> Repairs and maintenance </md-list-item>
              <md-list-item> Doors, windows and locks </md-list-item>
              <md-list-item> Decks and pergolas </md-list-item>
              <md-list-item> Fences </md-list-item>
              <md-list-item> Tiling </md-list-item>
              <md-list-item> Bathroom and kitchen services </md-list-item>
              <md-list-item> Paving </md-list-item>
              <md-list-item> Plastering and patchwork </md-list-item>
              <md-list-item> Clothes line installation </md-list-item>
              <md-list-item> Concrete patchwork </md-list-item>
            </md-list>    
            Can’t find what you are looking for?<br>
            Contact us on 0411 773 926 and we can help.
          </p>          
        </md-card-content>
        <md-card-actions>
          <a md-raised-button showcase-btn routerLink="/welcome" color="primary" title="Service Areas"> Back  <i class="material-icons">arrow_back</i></a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <hr>

  <md-toolbar color="primary" class="footer">
    <span class="text-center">Connell Carpentry &copy; 2017</span>
    <span class="text-center"><ccapp-termpage></ccapp-termpage></span>
  </md-toolbar>
</div>